


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-primery{
    color: #FD6E0A ;

}
.secondary-bg{
     background-color: #FFF8F3;
}

.text-center{
    text-align: center;
}

/* Dark-2 */
.dark-2{
    color: #474747;
}

/* button */
.btn-primary{
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
}
/* header */
.header{
    background-image: url('../images/developer.png') ,url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    
}
nav ul{
    display: flex;
    align-items: center;
    
}
/* nav style */
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
    padding: 0px 200px;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
/* style banner */
.banner{
    display: flex;
    margin: 0px 35px 0px 200px;
    justify-content: space-between; 
   
}
.banner-getter{
    max-width: 580px;
}
.banner-head{
    font-weight:650px;
    font-size: 45px;
     color: #474747; 
}
.banner-own{
    font-weight: bold;
    font-size: 85px;
}
.banner-pera{
    font-size: 14px;
    /* text-align: center; */
}
.banner-img{
    width: 584px;
}
/* main */
main{
    max-width: 1140px;
    margin: 130px auto;
}
/* about style */
.about{
    padding: 100px 100px;
    /* text-align: center; */
    border-radius: 10px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-titel{
    font-size: 20px;
    color: #757575;
}
.item-description{
    font-size: 20px;
    font-weight: bold;
}

/* skill style */
.section-title{
    font-size: 35px;
    font-weight: bold;
    margin-top: 130px;
}
.section-description{
    font-size: 18px;
    color: #757575;
    margin-top: 30px;
}
/* skill-container */
.skills-container{
    display: flex;
    margin: 50px;
    gap: 24px;
}
.skill{
    padding: 50px 33px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
/* selection resume */
.resume-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin: 130px auto;
}
.resume-container{
    display: flex;
    gap:24px;
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
    color:  #474747;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.experience{
    margin-top: 30px;
}
.experience-sub-title{
     font-size: 20px;
    font-weight: 600px;
    color: #757575;
}
.experience-description{
    font-size: 16px;
    color: #757575;
}
.section-btn{
    margin-top: 50px;
}
/* footer style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 117px;
}
.icon-img{
    margin-left: 24px;
}
.footer-description{
    font-size: 16px;
}
footer input[type="text"] , input[type="Email"] , textarea {
    height: 64px;
    color: white;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
}